.trending-container{
    color: white;
    padding: 20px 20px 0;
    position: relative;
    height: 100%;
    width: 100%;
}
.trending-container h1{
    user-select: none;
    color: black;
}
.movieslider{
    display: grid;
    gap: 10px;
    user-select: none;
    transition: all 0.5s linear;
    overflow-y: hidden;
    overflow-x: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}
.movieitem{
    transform: scale(1);
    max-width: 400px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    user-select: none;
    overflow: hidden;
    border-radius: 6px;
    transform: center left;
    position: relative;
}
.movieitem :hover{
    transform: scale(1.1);
    z-index: 10;
}
.movieitem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.moviename{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 4px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
}
.btnleft{
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 20;
    transform-origin: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 40px;
    font-size: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnleft:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.icon{
    opacity: 0.7;
    transition: all 0.3s linear;
}
.icon:hover{
    opacity: 1;
    transform: scale(1.2);
}
.btnright{
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 20;
    transform-origin: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 40px;
    font-size: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnright:hover{
    background-color: rgba(0, 0, 0, 0.8);
}